{% load static %}

<div class="achievement-page">
	<span class="achievement-title">Achievements:</span>
	<div class="achievements">
		<div class="achievement">
			<div class="icon-box">
				<i class="fa fa-trophy fa-2x achievement-trophy"></i>
			</div>
			<div class="achievement-info">
				<div class="achievement-name">
					<span>Achievement Name</span>
				</div>
				<div class="achievement-desc">
					<span>Achievement Description</span>
				</div>
			</div>
		</div>
		<div class="achievement">
			<div class="icon-box">
				<i class="fa fa-trophy fa-2x achievement-trophy"></i>
			</div>
			<div class="achievement-info">
				<div class="achievement-name">
					<span>Achievement Name</span>
				</div>
				<div class="achievement-desc">
					<span>Achievement Description</span>
				</div>
			</div>
		</div>
		<div class="achievement">
			<div class="icon-box">
				<i class="fa fa-trophy fa-2x achievement-trophy"></i>
			</div>
			<div class="achievement-info">
				<div class="achievement-name">
					<span>Achievement Name</span>
				</div>
				<div class="achievement-desc">
					<span>Achievement Description</span>
				</div>
			</div>
		</div>
		<div class="achievement">
			<div class="icon-box">
				<i class="fa fa-trophy fa-2x achievement-trophy"></i>
			</div>
			<div class="achievement-info">
				<div class="achievement-name">
					<span>Achievement Name</span>
				</div>
				<div class="achievement-desc">
					<span>Achievement Description</span>
				</div>
			</div>
		</div>
	</div>
</div>