{% load static %}
<body>
    <div class="spa-container chat-container">
        <div class="sidebar">
            <ul id="friend-list">
                <!-- Les amis seront ajoutés ici dynamiquement -->
            </ul>
        </div>
        <div class="chat-area">
            <div class="chat-area" id="chat-area">
                <p>Select a friend to start chatting.</p>
            </div>
            <div class="message-input">
                <textarea id="message-input" placeholder="Write your message..." rows="2"></textarea>
                <button id="send-button">Send</button>
            </div>
        </div>
    </div>
</body>
<!-- <script src="{% static 'js/friend.js' %}"></script> -->
<script>getElementFriend();</script>