{% load static %}

<div class="wrapper">
    <div class="settings-grid-userCard">
        <!-- profile picture + userName + add friend + message -->
        <div class="profile-container" id="profile-container">
            <div class="profile-picture" id="profile-picture">
                <img id="profileImage" class="profileImage" src="{% static 'images/pp.png' %}" alt="">
            </div>
            <p id="userNameFriend">
                test
                <!-- UserName -->
            </p>
            <div class="buttonFriendMessage">
                <div class="addFriend">
                    <span class="plus">+</span>
                    <span class="text">Add Friend</span>
                </div>
                <div class="addFriend">
                    <span class="text">Message me</span>
                </div>
            </div>
            <div class="addFriend">
                <span class="text">Challenge me</span>
            </div>
        </div>
    </div>
    <div class="settings-grid-userInformation">
        <div class="info-area">
            <div class="legend">
                <p class="history_win_loose">Win/Loose</p>
                <p class="pipe">|</p>
                <p class="history_game_mode">Game mode</p>
                <p class="pipe">|</p>
                <p class="history_score">Score</p>
                <p class="pipe">|</p>
                <p class="history_date">Date</p>
                <p class="pipe_date">|</p>
                <p class="history_status">Status</p>
            </div>
            <div class="history" id="history">
            </div>
            <div class="achivement">
                achivement
            </div>
        </div>
    </div>
</div>
<!-- <script>searchUser("");</script> -->