{% load static %}

<div class="home-container">
	<div class="home-list-container">
		<h2>Games:</h2>
		<div class="home-list">
			<div class="list-element">
				<span class="list-span">
					Game name
				</span>
				<div class="list-join-button">
					Join game ➞
				</div>
			</div>
			<div class="list-element">
				<span class="list-span">
					Game name
				</span>
				<div class="list-join-button">
					Join game ➞
				</div>
			</div>
			<div class="list-element">
				<span class="list-span">
					Game name
				</span>
				<div class="list-join-button">
					Join game ➞
				</div>
			</div>
			<div class="list-element">
				<span class="list-span">
					Game name
				</span>
				<div class="list-join-button">
					Join game ➞
				</div>
			</div>
			<div class="list-element">
				<span class="list-span">
					Game name
				</span>
				<div class="list-join-button">
					Join game ➞
				</div>
			</div>
			<div class="list-element">
				<span class="list-span">
					Game name
				</span>
				<div class="list-join-button">
					Join game ➞
				</div>
			</div>
			<div class="list-element">
				<span class="list-span">
					Game name
				</span>
				<div class="list-join-button">
					Join game ➞
				</div>
			</div>
			<div class="list-element">
				<span class="list-span">
					Game name
				</span>
				<div class="list-join-button">
					Join game ➞
				</div>
			</div>
			<div class="list-element">
				<span class="list-span">
					Game name
				</span>
				<div class="list-join-button">
					Join game ➞
				</div>
			</div>
			<div class="list-element">
				<span class="list-span">
					Game name
				</span>
				<div class="list-join-button">
					Join game ➞
				</div>
			</div>
			<div class="list-element">
				<span class="list-span">
					Game name
				</span>
				<div class="list-join-button">
					Join game ➞
				</div>
			</div>
			<div class="list-element">
				<span class="list-span">
					Game name
				</span>
				<div class="list-join-button">
					Join game ➞
				</div>
			</div>
			<div class="list-element">
				<span class="list-span">
					Game name
				</span>
				<div class="list-join-button">
					Join game ➞
				</div>
			</div>
			<div class="list-element">
				<span class="list-span">
					Game name
				</span>
				<div class="list-join-button">
					Join game ➞
				</div>
			</div>
			<div class="list-element">
				<span class="list-span">
					Game name
				</span>
				<div class="list-join-button">
					Join game ➞
				</div>
			</div>
			<div class="list-element">
				<span class="list-span">
					Game name
				</span>
				<div class="list-join-button">
					Join game ➞
				</div>
			</div>
			<div class="list-element">
				<span class="list-span">
					Game name
				</span>
				<div class="list-join-button">
					Join game ➞
				</div>
			</div>
			<div class="list-element">
				<span class="list-span">
					Game name
				</span>
				<div class="list-join-button">
					Join game ➞
				</div>
			</div>
			<div class="list-element">
				<span class="list-span">
					Game name
				</span>
				<div class="list-join-button">
					Join game ➞
				</div>
			</div>
			<div class="list-element">
				<span class="list-span">
					Game name
				</span>
				<div class="list-join-button">
					Join game ➞
				</div>
			</div>
			<div class="list-element">
				<span class="list-span">
					Game name
				</span>
				<div class="list-join-button">
					Join game ➞
				</div>
			</div>
			<div class="list-element">
				<span class="list-span">
					Game name
				</span>
				<div class="list-join-button">
					Join game ➞
				</div>
			</div>
			<div class="list-element">
				<span class="list-span">
					Game name
				</span>
				<div class="list-join-button">
					Join game ➞
				</div>
			</div>
		</div>
		<button class="create-game-button">Create game</button>
	</div>
	<div class="home-list-container">
		<h2>Tournaments:</h2>
		<div class="home-list">
			<div class="list-element">
				<span class="list-span">
					Tournament name
				</span>
				<div class="list-join-button">
					Join game ➞
				</div>
			</div>
			<div class="list-element">
				<span class="list-span">
					Tournament name
				</span>
				<div class="list-join-button">
					Join game ➞
				</div>
			</div>
			<div class="list-element">
				<span class="list-span">
					Tournament name
				</span>
				<div class="list-join-button">
					Join game ➞
				</div>
			</div>
		</div>
		<button class="create-game-button">Create tournament</button>
	</div>
</div>