<div class="homepage-container">
	<div class="info-grid">
		<div class="index-info index-title">last game played:</div>
		<div class="index-info index-date">DD/MM/YYYY</div>
		<div class="index-info index-wl">
			<span data-status="win"></span>
		</div>
		<div class="index-info index-score">
			<span>final score:</span>
			&nbsp;
			<span class="index-final-score">10 | 10</span>
		</div>
	</div>
	<div class="index-quicklinks">
		<div class="index-quicklink">
			<span>active games</span>
			<div class="home-list">
				<div class="list-element">
					<span class="list-span">
						Game name
					</span>
					<div class="list-join-button">
						Join game ➞
					</div>
				</div>
				<div class="list-element">
					<span class="list-span">
						Game name
					</span>
					<div class="list-join-button">
						Join game ➞
					</div>
				</div>
				<div class="list-element">
					<span class="list-span">
						Game name
					</span>
					<div class="list-join-button">
						Join game ➞
					</div>
				</div>
				<div class="list-element">
					<span class="list-span">
						Game name
					</span>
					<div class="list-join-button">
						Join game ➞
					</div>
				</div>
				<div class="list-element">
					<span class="list-span">
						Game name
					</span>
					<div class="list-join-button">
						Join game ➞
					</div>
				</div>
				<div class="list-element">
					<span class="list-span">
						Game name
					</span>
					<div class="list-join-button">
						Join game ➞
					</div>
				</div>
				<div class="list-element">
					<span class="list-span">
						Game name
					</span>
					<div class="list-join-button">
						Join game ➞
					</div>
				</div>
				<div class="list-element">
					<span class="list-span">
						Game name
					</span>
					<div class="list-join-button">
						Join game ➞
					</div>
				</div>
				<div class="list-element">
					<span class="list-span">
						Game name
					</span>
					<div class="list-join-button">
						Join game ➞
					</div>
				</div>
				<div class="list-element">
					<span class="list-span">
						Game name
					</span>
					<div class="list-join-button">
						Join game ➞
					</div>
				</div>
				<div class="list-element">
					<span class="list-span">
						Game name
					</span>
					<div class="list-join-button">
						Join game ➞
					</div>
				</div>
				<div class="list-element">
					<span class="list-span">
						Game name
					</span>
					<div class="list-join-button">
						Join game ➞
					</div>
				</div>
			</div>
			<div class="index-button">start</div>
		</div>
		<div class="index-quicklink">
			<span>active tournaments</span>
			<div class="index-list"></div>
			<div class="index-button">list</div>
		</div>
		<div class="index-quicklink">
			<span>achievements</span>
			<div class="index-list"></div>
			<div class="index-button">list</div>
		</div>
		<div class="index-quicklink">
			<span>online friends</span>
			<div class="index-list"></div>
			<div class="index-button">list</div>
		</div>
	</div>
</div>