<style>
	.filter-section {
		margin-bottom: 20px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.filter-section label {
		margin-right: 10px;
	}

	select {
		background-color: transparent;
		color: var(--secondary);
		border: 2px solid var(--secondary);
		padding: 2px;
		border-radius: 5px;
		margin-right: 10px;
		cursor: pointer;
	}

	.podium {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		margin-bottom: 30px;

		img {
			width: 70px;
			height: 70px;
			border-radius: 50%;
			object-fit: cover;
		}

		.username {
			font-size: 18px;
			font-weight: bold;
		}
	}

	.player-card {
		border-radius: 10px;
		padding: 20px;
		color: var(--text);
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
		transition: transform 0.3s ease;
		margin: 0 10px 10px;
		width: 160px;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		cursor: pointer;

		p {
			font-size: 12px;
		}
	}

	.player-card:hover {
		transform: translateY(-10px);
	}


	.player-card.rank-1 {
		height: 220px;
		background-color: gold;
		color: black;
	}

	.player-card.rank-2 {
		height: 200px;
		background-color: silver;
	}

	.player-card.rank-3 {
		height: 180px;
		background-color: #cd7f32;
	}

	table {
		width: 100%;
		border-collapse: collapse;
	}

	table th,
	table td {
		padding: 12px;
		border-bottom: 1px solid var(--primary);
		color: var(--text);
	}

	table tr:hover {
		background-color: var(--primary);
	}

	table th {
		background-color: #3a3a5a;
		letter-spacing: 1px;
	}

	table td {
		cursor: pointer;
	}
</style>

<div class="filter-section">
	<label for="game-filter">Game:</label>
	<select id="game-filter" onchange="filterLeaderboard()">
		<option value="all">All</option>
		<option value="pong">Pong</option>
		<option value="tron">Tron</option>
	</select>
</div>

<div class="podium">
	<div class="player-card rank-2">
		<img src="" alt="Avatar">
		<p class="username" data-username="Player3">Player2</p><span>🥈</span>
		<p>110 Wins / 40 Losses</p>
	</div>
	<div class="player-card rank-1">
		<img src="" alt="Avatar">
		<p class="username" data-username="Player3">Player1</p><span>🥇</span>
		<p>120 Wins / 30 Losses</p>
	</div>
	<div class="player-card rank-3">
		<img src="" alt="Avatar">
		<p class="username" data-username="Player3">Player3</p><span>🥉</span>
		<p>90 Wins / 50 Losses</p>
	</div>
</div>

<table id="leaderboard">
	<thead>
		<tr>
			<th>Rank</th>
			<th>Player</th>
			<th>Wins</th>
			<th>Losses</th>
		</tr>
	</thead>
	<tbody id="leaderboard-body">
	</tbody>
</table>

<script>loadLeaderboard()</script>