{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <!-- ************************************************ settings ******************************************************** -->

    <!-- ************************************************ settings ******************************************************** -->

    <script src="{% static 'js/test.js' %}"></script>
    <script src="{% static 'js/pong.js' %}"></script>
    <script src="{% static 'js/spa.js' %}"></script>
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" onclick="loadPage('index')" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <label for="themeToggle" class="themeToggle st-sunMoonThemeToggleBtn" type="checkbox">
                            <input type="checkbox" id="themeToggle" class="themeToggleInput" />
                            <svg width="18" height="18" viewBox="0 0 20 20" fill="currentColor" stroke="none">
                                <mask id="moon-mask">
                                    <rect x="0" y="0" width="20" height="20" fill="white"></rect>
                                    <circle cx="11" cy="3" r="8" fill="black"></circle>
                                </mask>
                                <circle class="sunMoon" cx="10" cy="10" r="8" mask="url(#moon-mask)"></circle>
                                <g>
                                    <circle class="sunRay sunRay1" cx="18" cy="10" r="1.5"></circle>
                                    <circle class="sunRay sunRay2" cx="14" cy="16.928" r="1.5"></circle>
                                    <circle class="sunRay sunRay3" cx="6" cy="16.928" r="1.5"></circle>
                                    <circle class="sunRay sunRay4" cx="2" cy="10" r="1.5"></circle>
                                    <circle class="sunRay sunRay5" cx="6" cy="3.1718" r="1.5"></circle>
                                    <circle class="sunRay sunRay6" cx="14" cy="3.1718" r="1.5"></circle>
                                </g>
                            </svg>
                        </label>

                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="wrapper">
        <div class="two">
            Menu
            <a href="#" class="btn btn-primary" onclick="loadPage('login')">Go to Login Page</a>
            <a href="#" class="btn btn-primary" onclick="loadPage('register')">Go to Register Page</a>
            <a href="#" class="btn btn-primary" onclick="loadPage('game')">Go to Game Page</a>
            <a href="#" class="btn btn-primary" onclick="loadPage('settings')">Go to Settings Page</a>
        </div>
        <div class="three" id="spa-content">
            {% include content %}
        </div>
    </div>
</body>
<script>
    document.getElementById("themeToggle").addEventListener("click", function () {
        const currentTheme = document.documentElement.getAttribute("data-theme");
        const newTheme = currentTheme === "light" ? "dark" : "light";
        document.documentElement.setAttribute("data-theme", newTheme);
    });
</script>

</html>