{% load static %}
<main>
        <section class="register">
            <div class="wrapper">
                <h1 class="register-title">Register</h1>
                <div class="names-label">
                    <label class="register-label">
                        <span>first name</span>
                        <input id="firstName" type="text" name="first-name" class="input">
                    </label>
                    <label class="register-label">
                        <span>last name</span>
                        <input id="lastName" type="text" name="last-name" class="input">
                    </label>
                </div>
                <label class="register-label">
                    <span id="email-span">email</span>
                    <input id="email" type="email" name="email" class="input">
                </label>
                <label class="register-label">
                    <span>username</span>
                    <input id="username" type="text" name="username" class="input">
                </label>
                <label class="register-label">
                    <span>password</span>
                    <input id="password" type="password" name="password" class="input">
                </label>
                <label class="register-label">
                    <span id="password-confirm-span">confirm password</span>
                    <input id="confirmPassword" type="password" name="password-confirm" class="input">
                </label>
                <label class="text-buttons">
                    <a id="login" href="" class="text-button">Go back to login page</a>
                </label>
                <div class="consent-box">
                    <input type="checkbox" id="consent" name="consent" required>
                    <label for="consent">
                        I agree to the <a href="/privacy-policy" target="_blank">Privacy Policy</a> and
                        <a href="/terms-of-service" target="_blank">Terms of Service</a>.
                    </label>
                </div>
                <div class="register-buttons">
                    <button type="button" class="ft-button" onclick="window.location.href='{{42_link}}'">
                        <img alt="42"
                            src="https://profile.intra.42.fr/assets/42_logo-7dfc9110a5319a308863b96bda33cea995046d1731cebb735e41b16255106c12.svg">
                    </button>
                    <button type="button" class="register-button" disabled>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path
                                d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z" />
                        </svg>
                    </button>
                </div>
            </div>
        </section>
    </main>
<script>loadRegister();testIfLoggedIn();</script>