{% load static %}

<div class="container">
    <div class="form-container">
        <h2>Modifier les informations du compte</h2>
        <form id="accountForm" onsubmit="return validateForm()" enctype="multipart/form-data">
            <div class="input-row">
                <label class="login__label" id="firstName_label">
                    <span class="span-active">First name</span>
                    <input id="firstName" type="text" name="firstName" class="input">
                </label>
                <label class="login__label" id="lastName_label">
                    <span class="span-active">Last name</span>
                    <input id="lastName" type="text" name="lastName" class="input">
                </label>
            </div>
            <label class="login__label">
                <span class="span-active">User name</span>
                <input id="username" type="text" name="userName" class="input">
            </label>
            <label class="login__label span-active">
                <span class="span-active">email</span>
                <input id="email" type="text" name="email" class="input">
            </label>
            <label class="login__label">
                <span>Old password</span>
                <input id="oldPassword" type="password" name="oldPassword" class="input">
            </label>
            <label class="login__label">
                <span>New password</span>
                <input id="newPassword" type="password" name="newPassword" class=" input">
            </label>
            <button type="button" id="saveButton">Enregistrer les modifications</button>
        </form>
    </div>

    <div class="profile-container">
        <div class="profile-picture" onclick="triggerFileInput()">
            <img id="profileImage" src="{% static 'images/pp.png' %}" alt="">
            <input type="file" id="profilePic" name="profilePic" accept="image/*" onchange="previewImage(event)">
        </div>
    </div>
</div>
<script>loadSettings();</script>