{% load static %}
<!DOCTYPE html>
<html lang="pt-br" data-theme="dark">

<head>
    <meta charset="UTF">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/themeToggle.css' %}">
    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/themeToggle.js' %}"></script>
    <link rel="icon" href="{% static 'images/pong.png' %}" type="image/x-icon">
    <title>Privacy Policy</title>
</head>

<body>
    <label for="themeToggle" class="themeToggle st-sunMoonThemeToggleBtn" type="checkbox">
        <input type="checkbox" id="themeToggle" class="themeToggleInput" />
        <svg width="18" height="18" viewBox="0 0 20 20" fill="currentColor" stroke="none">
            <mask id="moon-mask">
                <rect x="0" y="0" width="20" height="20" fill="white"></rect>
                <circle cx="11" cy="3" r="8" fill="black"></circle>
            </mask>
            <circle class="sunMoon" cx="10" cy="10" r="8" mask="url(#moon-mask)"></circle>
            <g>
                <circle class="sunRay sunRay1" cx="18" cy="10" r="1.5"></circle>
                <circle class="sunRay sunRay2" cx="14" cy="16.928" r="1.5"></circle>
                <circle class="sunRay sunRay3" cx="6" cy="16.928" r="1.5"></circle>
                <circle class="sunRay sunRay4" cx="2" cy="10" r="1.5"></circle>
                <circle class="sunRay sunRay5" cx="6" cy="3.1718" r="1.5"></circle>
                <circle class="sunRay sunRay6" cx="14" cy="3.1718" r="1.5"></circle>
            </g>
        </svg>
    </label>
    <div class="privacy-policy">
        <h1>Terms of Service</h1>
        <p><strong>Last Updated:</strong> 05-10-2024</p>

        <h2>1. Acceptance of Terms</h2>
        <p>By accessing or using transcendence (“the Service”), you agree to be bound by these Terms of Service
            (“Terms”). If you do not agree to these Terms, you may not use the Service.</p>

        <h2>2. Changes to Terms</h2>
        <p>We reserve the right to modify these Terms at any time. Changes will be effective immediately upon posting on
            this page. Your continued use of the Service after any changes constitutes your acceptance of the new Terms.
        </p>

        <h2>3. Eligibility</h2>
        <p>You must be at least [Insert Age] years old to use this Service. By using the Service, you represent and
            warrant that you meet this eligibility requirement.</p>

        <h2>4. Account Registration</h2>
        <p>To access certain features of the Service, you may be required to create an account. You agree to:</p>
        <ul>
            <li>Provide accurate, current, and complete information during the registration process.</li>
            <li>Maintain the security of your password and account.</li>
            <li>Notify us immediately of any unauthorized use of your account.</li>
            <li>Take responsibility for all activities that occur under your account.</li>
        </ul>

        <h2>5. User Conduct</h2>
        <p>You agree not to engage in any of the following prohibited activities:</p>
        <ul>
            <li>Using the Service for any illegal or unauthorized purpose.</li>
            <li>Harassing, threatening, or intimidating other users.</li>
            <li>Posting or transmitting any content that is abusive, obscene, defamatory, or otherwise objectionable.
            </li>
            <li>Impersonating any person or entity or misrepresenting your affiliation with any person or entity.</li>
            <li>Interfering with or disrupting the Service or servers or networks connected to the Service.</li>
        </ul>

        <h2>6. User Content</h2>
        <p>You are solely responsible for any content that you post, upload, or share through the Service. By submitting
            content, you grant us a non-exclusive, worldwide, royalty-free license to use, reproduce, modify, publish,
            and distribute your content in connection with the Service.</p>

        <h2>7. Private Chat</h2>
        <p>The Service includes a private chat feature that allows users to communicate with one another. You
            acknowledge that messages exchanged through the chat feature are stored in our database and will be deleted
            permanently upon account deletion.</p>

        <h2>8. Intellectual Property</h2>
        <p>All content and materials available through the Service, including text, graphics, logos, and software, are
            the property of transcendence or its licensors and are protected by copyright, trademark, and other
            intellectual property laws. You may not use, copy, or distribute any content without our prior written
            permission.</p>

        <h2>9. Limitation of Liability</h2>
        <p>transcendence and its affiliates will not be liable for any indirect, incidental, special, consequential, or
            punitive damages arising from or related to your use of the Service, even if we have been advised of the
            possibility of such damages. Your sole remedy for dissatisfaction with the Service is to stop using it.</p>

        <h2>10. Indemnification</h2>
        <p>You agree to indemnify and hold harmless transcendence, its affiliates, and their respective officers,
            directors, employees, and agents from any claims, losses, liabilities, damages, costs, or expenses
            (including reasonable attorneys’ fees) arising out of or related to your use of the Service or violation of
            these Terms.</p>

        <h2>11. Governing Law</h2>
        <p>These Terms will be governed by and construed in accordance with the laws of [Your Country/State], without
            regard to its conflict of law principles. You agree to submit to the personal jurisdiction of the courts
            located in [Your Jurisdiction] for the resolution of any disputes.</p>

        <h2>12. Termination</h2>
        <p>We reserve the right to terminate or suspend your account and access to the Service at our discretion,
            without notice, for conduct that we believe violates these Terms or is harmful to other users or the
            Service.</p>

        <h2>13. Contact Information</h2>
        <p>If you have any questions about these Terms, please contact us at:</p>
        <ul>
            <li><strong>Email:</strong> <a href="mailto:sgodin@student.s19.be">sgodin@student.s19.be</a></li>
        </ul>

        <footer>
            <p>&copy; 2024 transcendence. All rights reserved.</p>
        </footer>
    </div>

</body>

</html>