<div class="tournament-container">
	<div class="tournament-name info">
		<span>Tournament Name</span>
	</div>
	<div class="date info">
		<span>DD/MM/YYYY</span>
	</div>
	<div class="join-button info border-bottom">
		<span>Join tournament</span>
	</div>
	<div class="players info border-bottom">
		<span>Players: 0/8</span>
	</div>
	<div class="wrapper-bracket">
		<div class="item">
			<div class="item-parent">
				<div class="bracket-user">
					<div class="bracket-user-img">IMG</div>
					<span>Username</span>
				</div>
			</div>
			<div class="item-childrens">
				<div class="item-child">
					<div class="item">
						<div class="item-parent">
							<div class="bracket-user">
								<div class="bracket-user-img">IMG</div>
								<span>Username</span>
							</div>
						</div>
						<div class="item-childrens">
							<div class="item-child">
								<div class="item">
									<div class="item-parent">
										<div class="bracket-user">
											<div class="bracket-user-img">IMG</div>
											<span>Username</span>
										</div>
									</div>
									<div class="item-childrens">
										<div class="item-child">
											<div class="bracket-user">
												<div class="bracket-user-img">IMG</div>
												<span>Username</span>
											</div>
										</div>
										<div class="item-child">
											<div class="bracket-user">
												<div class="bracket-user-img">IMG</div>
												<span>Username</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item-child">
								<div class="item">
									<div class="item-parent">
										<div class="bracket-user">
											<div class="bracket-user-img">IMG</div>
											<span>Username</span>
										</div>
									</div>
									<div class="item-childrens">
										<div class="item-child">
											<div class="bracket-user">
												<div class="bracket-user-img">IMG</div>
												<span>Username</span>
											</div>
										</div>
										<div class="item-child">
											<div class="bracket-user">
												<div class="bracket-user-img">IMG</div>
												<span>Username</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item-child">
					<div class="item">
						<div class="item-parent">
							<div class="bracket-user">
								<div class="bracket-user-img">IMG</div>
								<span>Username</span>
							</div>
						</div>
						<div class="item-childrens">
							<div class="item-child">
								<div class="item">
									<div class="item-parent">
										<div class="bracket-user">
											<div class="bracket-user-img">IMG</div>
											<span>Username</span>
										</div>
									</div>
									<div class="item-childrens">
										<div class="item-child">
											<div class="bracket-user">
												<div class="bracket-user-img">IMG</div>
												<span>Username</span>
											</div>
										</div>
										<div class="item-child">
											<div class="bracket-user">
												<div class="bracket-user-img">IMG</div>
												<span>Username</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item-child">
								<div class="item">
									<div class="item-parent">
										<div class="bracket-user">
											<div class="bracket-user-img">IMG</div>
											<span>Username</span>
										</div>
									</div>
									<div class="item-childrens">
										<div class="item-child">
											<div class="bracket-user">
												<div class="bracket-user-img">IMG</div>
												<span>Username</span>
											</div>
										</div>
										<div class="item-child">
											<div class="bracket-user">
												<div class="bracket-user-img">IMG</div>
												<span>Username</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="current-game">
		<div class="match-number">
			<span class="left-right-button"><</span>
			<span>Match X</span>
			<span class="left-right-button">></span>
		</div>
		<div class="player-versus">
			<div class="player">IMG</div>
			<div class="current-score">X : X</div>
			<div class="player">IMG</div>
		</div>
		<div class="spectate-button">Spectate game</div>
	</div>
</div>