<div class="tournament-container">
	<div class="tournament-name info">
		<span>Tournament Name</span>
	</div>
	<div class="date info">
		<span>DD/MM/YYYY</span>
	</div>
	<div class="join-button info">
		<span>Join tournament</span>
	</div>
	<div class="players info">
		<span>0/8</span>
	</div>
	<div class="wrapper-bracket">
		<div class="item">
			<div class="item-parent">
				<p>Parent 1</p>
			</div>
			<div class="item-childrens">
				<div class="item-child">
					<div class="item">
						<div class="item-parent">
							<p>Parent 2</p>
						</div>
						<div class="item-childrens">
							<div class="item-child">
								<div class="item">
									<div class="item-parent">
										<p>Parent 3</p>
									</div>
									<div class="item-childrens">
										<div class="item-child">
											<p>child 1</p>
										</div>
										<div class="item-child">
											<p>child 2</p>
										</div>
									</div>
								</div>
							</div>
							<div class="item-child">
								<div class="item">
									<div class="item-parent">
										<p>Parent 4</p>
									</div>
									<div class="item-childrens">
										<div class="item-child">
											<p>child 3</p>
										</div>
										<div class="item-child">
											<p>child 4</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item-child">
					<div class="item">
						<div class="item-parent">
							<p>Parent 5</p>
						</div>
						<div class="item-childrens">
							<div class="item-child">
								<div class="item">
									<div class="item-parent">
										<p>Parent 6</p>
									</div>
									<div class="item-childrens">
										<div class="item-child">
											<p>child 5</p>
										</div>
										<div class="item-child">
											<p>child 6</p>
										</div>
									</div>
								</div>
							</div>
							<div class="item-child">
								<div class="item">
									<div class="item-parent">
										<p>Parent 7</p>
									</div>
									<div class="item-childrens">
										<div class="item-child">
											<p>child 7</p>
										</div>
										<div class="item-child">
											<p>child 8</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="current-game">

	</div>
</div>