<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body></body>
<div class="app-container">

	<div class="app-content">
	  
	  <div class="game-flex">
		<div class="game-item">
			<canvas id="c" width="800" height="600" style="background:#000"></canvas>
		</div>
		<div class="game-item">
			<form id="loginForm">
				<input type="text" id="username" name="username" placeholder="Username" required />
				<input type="password" id="password" name="password" placeholder="Password" required />
				<button type="submit">Login</button>
			</form>

            <div>
                Register
            </div>

            <form id="registerForm">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="usernameR" name="username" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="passwordR" name="password" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" required>
                </div>
                <div class="form-group">
                    <button type="submit">Register</button>
                </div>
                <div class="error" id="error"></div>
            </form>

            <input type="button" value="stats" onclick="getStats()">


    <h1>Update User</h1>
    <form id="updateForm" enctype="multipart/form-data">
        <!-- <input type="text" id="usernameEdit" name="username" placeholder="Username" required><br>
        <input type="email" id="email" name="email" placeholder="Email" required><br> -->
        <input type="file" id="avatar" name="avatar" accept="image/*"><br>
        <button type="submit">Submit</button>
    </form>

			<h2>Enter Party ID</h2>

			<form id="partyForm">
				<label for="partyId">Party ID:</label><br>
				<input type="text" id="partyId" name="partyId"><br>
				<input type="button" value="Connect" onclick="connect()">
			</form>
		</div>
	  </div>
	</div>
  </div>
  <script src="pong.js"></script>
</body>
</html>