.achievement-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.achievement-title {
    font-size: 3em;
}

.achievements {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.achievement {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100px;
    transition: transform 0.15s ease-in-out;
}

.achievement:hover {
    transform: scale(1.02);
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    aspect-ratio: 1 / 1;
    background-color: var(--primary);
    margin-right: 5px;
    border: 2px solid var(--background);
    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    flex-shrink: 0;
}

.achievement-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    flex-grow: 1;
    border: 2px solid var(--secondary);
    border-radius: 8px;
    padding: 10px;
}

.achievement-name {
    font-weight: bold;
    font-size: 1.2em;
}

.achievement-desc {
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-size: 0.9em;
    color: var(--text);
}

.achievement-trophy {
    font-size: 3em;
    height: unset;
    width: unset;
}

.achievement.disabled {
    opacity: 0.5;
    pointer-events: none;
    filter: grayscale(100%);
}

.achievement.disabled .achievement-name span, 
.achievement.disabled .achievement-desc span {
    visibility: hidden;
}

.achievement.disabled .achievement-name span::before, 
.achievement.disabled .achievement-desc span::before {
    visibility: visible;
    content: "???";
}