#game-lobby-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: var(--background);
    /* border: 1px solid var(--secondary); */
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}

/* Partie gauche supérieure: Rejoindre une partie */
#join-game,
#random-game,
#create-game {
    flex: 1;
    padding: 20px;
    background-color: var(--background);
    border: 1px solid var(--secondary);
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    margin: 10px;
    box-sizing: border-box;
}

h2 {
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--secondary);
}

/* input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    box-sizing: border-box;
} */

.join-game-button,
.random-game-button,
.create-game-button {
    width: 100%;
    padding: 10px;
    background-color: var(--secondary);
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.join-game-button:hover,
.random-game-button:hover,
.join-game-button:hover {
    background-color: var(--primary);
}

#game-mode[disabled],
#game-mode-create[disabled] {
    background-color: var(--background);
    cursor: not-allowed;
}

#random-game {
    text-align: left;
}

.login__label {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.input {
    width: 100%;
    background-color: transparent;
    border: 2px solid var(--secondary);
    border-radius: 5px;
    outline: none;
    font-size: 0.9em;
    padding: 25px 10px 10px;
    font-weight: 600;
    color: var(--secondary);
    margin-bottom: -10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.login__label span {
    position: absolute;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--secondary);
    margin: 20px;
    cursor: text;
    transition: font-size 200ms ease, margin 200ms ease;
}

.login__label .span-active {
    font-size: 0.7em;
    margin: 8px 10px;
}

#max-players-random,
#game-mode,
#max-players-create,
#game-mode-create,
#map-choice {
    font-size: 0.9em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--secondary);
    cursor: text;
    transition: font-size 200ms ease, margin 200ms ease;
    width: 100%;
    background-color: transparent;
    border: 2px solid var(--secondary);
    border-radius: 5px;
    outline: none;
    padding: 10px 10px 10px;
    margin-bottom: 9px;
}