#game-lobby-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: var(--background);
    /* border: 1px solid var(--secondary); */
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

/* Partie gauche supérieure: Rejoindre une partie */
#join-game,
#random-game,
#create-game {
    flex: 1;
    padding: 20px;
    background-color: var(--background);
    border: 1px solid var(--secondary);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    box-sizing: border-box;
}

h2 {
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--secondary);
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--background);
    color: var(--primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: var(--background);
}

#game-mode[disabled],
#game-mode-create[disabled] {
    background-color: var(--background);
    cursor: not-allowed;
}

#random-game {
    text-align: left;
}

/* Styles de l'écran de chargement */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    font-size: 18px;
    z-index: 9999;
    display: none;
    /* Masqué par défaut */
    flex-direction: column;
    text-align: center;
}

.loading-content {
    max-width: 500px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

#loading-text {
    margin-bottom: 20px;
}

.player-positions {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.player-position {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    position: relative;
}

.player-position span {
    font-size: 16px;
    color: var(--primary);
}