.homepage-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.info-grid {
	min-height: 30%;
	max-width: 100%;
	max-height: 30%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		'title date'
		'w/l score';
	border-bottom: 1px solid var(--accent);
}

.index-info {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 10px;
	font-size: 2rem;
}

.index-title {
	font-size: 4rem;
	text-transform: capitalize;
}

.index-date {
	justify-self: flex-end;
}

.index-wl>span::before {
	color: var(--status-color);
	background-color: var(--tertiary);
	border: 1px solid var(--status-color);
	border-radius: 8px;
	padding: 8px 16px;
}

.index-wl>span[data-status="win"]::before {
	--status-color: green;
	content: 'WIN';
}

.index-wl>span[data-status="lose"]::before {
	--status-color: red;
	content: 'LOSE';
}

.index-score {
	justify-self: flex-end;
	text-transform: capitalize;
}

.index-final-score {
	background-color: var(--tertiary);
	border-radius: 8px;
	padding: 5px;
}

.index-quicklinks {
	flex: 1;

	display: flex;
	gap: 30px;
	max-height: calc(70% - 30px);
}

.index-quicklink {
	flex: 1;
	background-color: var(--tertiary);
	border: 1px solid var(--secondary);
	border-radius: 8px;

	padding: 30px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}

.index-quicklink>span {
	font-size: xx-large;
	text-transform: capitalize;
}

.index-achievement {
	justify-content: center;
	cursor: default !important;
	text-transform: capitalize;

	display: flex;
	justify-content: flex-start;
}

.index-button {
	cursor: pointer;
	min-width: 20%;
	padding: 10px;
	background-color: var(--tertiary);
	border: 1px solid var(--secondary);
	border-radius: 8px;
	font-size: larger;
	text-align: center;
	text-transform: uppercase;
}

.index-button:hover {
	background-color: var(--secondary);
	color: var(--text);
}