@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.fa-2x {
    font-size: 2em;
}

.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

.navbar-left {
    /* POSITIONING */
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 60px;
    z-index: 1000;

    /* STYLE */
    background: var(--background);
    border-right: 1px solid var(--secondary);
    transition: width 0.05s ease;
    overflow: hidden;
}

.navbar-left:hover,
nav.navbar-left.expanded {
    width: 250px;
    overflow: visible;
}

.navbar-left>ul {
    margin-top: 12px;
}

.navbar-left li {
    display: block;
    width: 250px;
}

.navbar-left li>a {
    display: table;
    position: relative;
    color: var(--text);
    font-size: 14px;
    text-decoration: none;
    transition: all 0.1s ease;
}

.navbar-left .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 189px;
}

.navbar-left>ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
}

.navbar-left>ul.logout>li>a {
    color: red;
}

.navbar-left li:hover>a,
nav.navbar-left li.active>a {
    background-color: var(--primary);
}

.navbar-top {
    /* POSITIONING */
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 60px;
    z-index: 999;

    /* STYLE */
    background-color: var(--background);
    border-bottom: 1px solid var(--secondary);
}

.navbar-top>ul {
    margin-top: 10px;
    margin-right: 60px;
    float: right;
}

.navbar-top li {
    display: block;
    float: left;
}

.navbar-top li>a {
    display: table;
    color: var(--text);
    text-decoration: none;
    transition: all 0.1s ease;
}

.navbar-top li:hover>a,
nav.navbar-top li.active>a {
    scale: 1.5;
}

.spa {
    margin-top: 90px;
    margin-left: 90px;
    margin-bottom: 30px;
    margin-right: 30px;
    width: 100%;
    height: 100%;
}

.searchValue {
    float: right;
    height: 40px;
    width: calc(93vw - (60px * 3) + 46px);
    margin-top: 10px;
    background-color: var(--background);
    opacity: 50%;
    color: var(--text);
    /* border: 2px solid var(--secondary); */
    /* border-radius: 5px; */
    border: none;
}

.searchValue:focus {
    outline: none;
    opacity: 100%;
}

.proposition {
    color: var(--text);
    /* color: red; */
    display: flex;
    flex-direction: column;
    /* width: calc(95vw - (60px * 3) + 46px); */
    width: 100%;
    padding-left: 130px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.hide {
    opacity: 0%;
}

ul.proposition {
    list-style-type: disc;
    /* padding-left: 60px; */
}

li:hover {
    background-color: green;
}