.wrapper {
    display: grid;
    grid-gap: 1vw;
    grid-auto-rows: minmax(100px, auto);
    max-width: 100%;
    height: 100%;
}

.wrapper div {
    background-color: rgba(233, 171, 88, 0.5);
    color: #d9480f;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    grid-column: 1 / 100;
}

ul {
    color: var(--text);
    list-style-type: none;
}

li {
    color: var(--text);
    float: left;
}

li a:hover:not(.active) {
    color: var(--text);
    background-color: var(--primary);
    border-color: var(--secondary);
}

li a {
    color: var(--text);
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.spa {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 75;
    grid-row: 2 / 10;
}

.friend_list {
    grid-column: 75 / 100;
    grid-row: 2 / 10;
}

.active {
    color: var(--text);
    background-color: var(--secondary);
    border-color: var(--secondary);
}