.settings-container {
    display: flex;
    width: 100%;
    max-width: 1400px;
    background-color: var(--tertiary);
    border-radius: 5px;
    border: 2px solid var(--secondary);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 15rem;
    min-width: 580px;
}

.form-container {
    width: 75%;
    padding: 40px;
}

.profile-container-settings {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-left: 2px solid;
    padding: 25px;
}

h2 {
    color: var(--primary);
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-row {
    display: flex;
    justify-content: space-between;
}

.input-group {
    width: 48%;
}

.profile-picture {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-picture input[type="file"] {
    display: none;
}

.profile-picture .-label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--background);
    color: var(--primary);
    text-align: center;
    border-radius: 50%;
    z-index: 1000;
    transition: background-color 0.2s ease-in-out;
    visibility: hidden;
}

.profile-picture:hover .-label {
    visibility: visible;
}

#firstName_label {
    width: 98%;
    justify-content: left;
}

#lastName_label {
    width: 98%;
    margin-left: 6px;
}

.error {
    border: 2px solid var(--accent);
    color: var(--accent);
    text-decoration-line: underline;
}

.sucess-saving {
    background-color: green;
}

.settings-input {
    background-color: var(--background);
}

.delete-button {
    width: 75%;
    color: red;
    font-weight: bold;
    box-shadow: red 0 0 20px 7px;
    background-color: transparent;
    transition-property: background-color, color;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}

.delete-button:hover {
    background-color: red;
    color: var(--tertiary);
}