@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
}

:root[data-theme="light"] {
  --text: #050724;
  --background: #fafafa;
  --primary: #8791ed;
  --secondary: #d47aeb;
  --tertiary: #efdaf7;
  --accent: red;
}

:root[data-theme="dark"] {
  --text: white;
  --background: #050724;
  --primary: #8791ed;
  --secondary: #7b1b93;
  --tertiary: #1b1037;
  --accent: #e24091;
}

body {
  background-color: var(--background);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.privacy-policy {
  line-height: 1.6;
  padding:  20px;
  color:white;
  font-size: 1em;
  
  h1, h2 {
      color: var(--secondary);
      margin-bottom: 10px;
  }
  p {
      font-size: 0.9em;
      padding-bottom: 15px;
  }
  ul {
      margin-left: 20px;
      font-size: 0.9em;
  }
  a {
      color: var(--accent)
  }    
  footer {
      margin-top: 20px;
      font-size: 0.9em;
      text-align: center;
      color: #888;
  }
}